<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Url Shortner</title>
  </head>
  <body>
    <h1>Shorten Your URL Here!</h1>
    <% if (locals.id) { %>
    <p>Url Generated: http://localhost:8000/url/<%= locals.id %></p>
    <% } %>

    <div>
      <form action="/url" method="POST">
        <label for="">Enter your original url</label>
        <input type="text" name="url" placeholder="https://example.com" />
        <button type="submit">Generate</button>
      </form>
    </div>
    <div>
      <% if(locals.urls) { %>
      <table>
        <thead>
          <th>S. No</th>
          <th>Short Id</th>
          <th>Redirect url</th>
          <th>Total Clicks</th>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => {%>
          <tr>
            <td><%= index+1 %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectUrl %></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
